* {
  box-sizing: border-box;
  text-align: justify;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilo de la scrollbar vertical */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #cdcdcd;
}

::-webkit-scrollbar-thumb {
  background-color: #8eb195;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6a8b74;
}
/* ----- */

/*estilos compartidos*/

h3 {
  color: #ff6347;
  margin: 0;
  font-size: 1.6em;
}

h2 {
  color: #333;
  margin: 0;
  font-size: 1.8em;
}

h1 {
  color: #333;
  margin: 0;
  font-size: 2em;
}

/* ----- */

/* navbar */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1000;
}

.nav-img-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.nav-img-title-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
}

.nav-img-title-container div img {
  width: 100%;
  height: auto;
}

.nav-img-title-container h1 {
  text-wrap: nowrap;
}

.buttons-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.buttons-nav li {
  background-color: #8eb195;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 140px;
  height: 30px;
  font-size: 0.9em;
}

.buttons-nav li:active {
  transform: scale(0.9);
}

.buttons-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
/* fin navbar */

/* seccion historia */
#historia {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  gap: 50px;
}

#historia h2 {
  margin-bottom: 30px;
}

#historia h3 {
  color: #000;
}

.img-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.img-history-container img {
  max-width: 210px;
  height: auto;
}

.leyenda-foto {
  margin-top: 10px;
  font-size: 0.8em;
  max-width: 210px;
}

#botonLeerMas {
  border: none;
  text-decoration: underline;
  color: #ff6347;
  font-size: 1.1em;
  cursor: pointer;
}
/* fin seccion historia */

/* seccion peliculas */
#peliculas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

#peliculas h2 {
  margin: 20px 0 10px 0;
  text-align: center;
}

.peliculas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
}

.pelicula-card {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.poster-peliculas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.pelicula-card:hover .poster-peliculas {
  transform: scale(1.05);
}

.pelicula-info {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 300px;
  height: 450px;
  padding: 20px;
  overflow-y: scroll;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pelicula-info h3 {
  text-align: center;
}

.pelicula-info::-webkit-scrollbar {
  display: none;
}

.pelicula-card:hover .pelicula-info {
  opacity: 1;
}

.navegar {
  background-color: #333;
  color: white;
  border: none;
  width: 40px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
/* fin seccion filmografía */

/* seccion proyectos */
#proyectos {
  position: relative;
  width: 100%;
  background: url("images/collage1.jpg") no-repeat center/cover;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#proyectos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Capa negra semi-transparente */
  z-index: 1;
}

.listas,
.busqueda {
  position: relative;
  padding: 20px;
  flex: 1;
  margin: 10px;
  color: white;
  overflow: auto;
  z-index: 2;
}

.listas h2,
.busqueda h2 {
  margin-bottom: 10px;
  color: white;
}

.listas p,
.busqueda p {
  font-style: italic;
  color: lightgrey;
}

.actor-item {
  list-style-type: none;
  color: #ff6347;
}

.rol-item {
  margin-left: 30px;
}

.botonLista {
  cursor: pointer;
}

.flecha {
  display: inline-block;
  transition: transform 0.15s ease;
}

.botonLista.active .flecha {
  transform: rotate(90deg);
}

.listas ul {
  display: none;
  margin-bottom: 20px;
}

.listas li {
  margin-bottom: 5px;
  list-style: none;
}

#formulario {
  display: flex;
  gap: 10px;
}

#inputBusqueda {
  width: 75%;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

#formulario button {
  width: 25%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ff6347;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
/* fin seccion proyectos */

/* seccion libros */
#libros {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

#libros h2 {
  margin: 20px 0 10px 0;
  text-align: center;
}

#libros-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
  padding: 0 25px;
}

.libros-card {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.poster-libros {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.libros-card:hover .poster-libros {
  transform: scale(1.05);
}

.libro-info {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 300px;
  height: 450px;
  padding: 20px;
  overflow-y: scroll;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.libro-info h3 {
  text-align: center;
}

.libro-info::-webkit-scrollbar {
  display: none;
}

.libros-card:hover .libro-info {
  opacity: 1;
}
/* fin seccion libros*/

/* seccion noticias */

#noticias h2 {
  text-align: center;
  margin: 20px 0 10px 0;
}

.ultimas-noticias {
  display: flex;
  flex-direction: column;
}

.ultimas-noticias article {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 15px 15px;
  padding: 10px;
}

.contenido {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.noticiaParrafo {
  flex-basis: 70%;
  font-size: 1.4em;
}

.contenido div {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido div img {
  max-height: 180px;
  width: auto;
  object-fit: contain;
}

.buttonGallery {
  font-size: 1.2em;
  color: #ff6347;
  cursor: pointer;
}

/* fin seccion noticias */

/* seccion reconocimiento */
#reconocimientos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 50px;
}

.reconocimientos-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.reconocimiento {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: left;
  flex: 1;
}

.reconocimiento-link {
  text-decoration: none;
}

.reconocimiento h3 {
  color: #ff6347;
  margin-bottom: 10px;
  text-align: left;
}

.reconocimiento p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

.reconocimiento:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
/* fin seccion reconocimiento */

/* seccion creditos */
#creditos {
  width: 100%;
  background: url("images/collagehorizontal.jpg") no-repeat center center/cover;
  color: white;
}

.footer-container {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}

.footer-container h2 {
  color: white;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.names-list {
  list-style: none;
  padding: 0;
}

.names-list li {
  margin: 10px 0;
}

.names-list li p {
  margin: 10px 0;
}

.names-list li a {
  text-decoration: none;
  color: #ffffff;
}
/* fin seccion creditos*/

@media screen and (max-width: 1279px) {
  /* navbar */
  .nav-container {
    flex-direction: column;
    justify-content: center;
  }

  .nav-img-title-container div {
    width: 80px;
  }
  /* ----- */

  /* noticias */
  .contenido {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .noticiaParrafo, .contenido div {
    width: 90%;
  }

  .noticiaParrafo {
    font-size: 1.2em;
    margin-bottom: 15px;    
  }
  
  .buttonGallery {
    font-size: 1.0em;
  }
  /* ----- */
}

@media screen and (max-width: 900px) {
  /* proyectos */
  #proyectos {
    flex-direction: column;
    align-items: center;
  }

  .listas,
  .busqueda {
    width: 90%;
    margin: 0 auto;
  }
  /* ----- */
}

@media screen and (max-width: 768px) {
  /*estilos compartidos*/
  h3 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h1 {
    font-size: 1.6em;
  }
  /* ----- */

  /* navbar */
  .nav-img-title-container div {
    width: 60px;
  }

  .buttons-nav li {
    padding: 5px 10px;
  }
  .buttons-nav a {
    font-size: 0.8em;
  }
  /* ----- */

  /* seccion historia */
  #historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .img-history-container {
    margin-top: 20px;
  }
  /* ----- */

  /* seccion reconocimiento */
  .reconocimientos-container {
    flex-direction: column;
  }
  /* ----- */
}

@media screen and (max-width: 480px) {
  /*estilos compartidos*/
  h3 {
    font-size: 1em;
  }

  h2 {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.4em;
  }
  /* ----- */

  /* navbar */
  .nav-img-title-container {
    flex-direction: column;
    gap: 10px;
  }
  /* ----- */

  /* peliculas */
  .pelicula-card {
    width: 200px;
    height: 300px;
  }

  .pelicula-info {
    width: 200px;
    height: 300px;
  }
  /* ------ */

  /* peliculas */
  .libros-card {
    width: 200px;
    height: 300px;
  }

  .libros-info {
    width: 200px;
    height: 300px;
  }
  /* ------ */

  /* proyectos */
  #proyectos {
    flex-direction: column;
  }

  #inputBusqueda, #formulario button {

    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .listas,
  .busqueda {
    padding: 15px;
  }
  /* ----- */
  /* noticias */
  .noticiaParrafo {
    font-size: 0.8em;
  }

  .buttonGallery {
    font-size: 0.7em;
  }
  /* ----- */
}
