body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0 20px 0 20px;
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilo de la scrollbar vertical */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #cdcdcd;
}

::-webkit-scrollbar-thumb {
  background-color: #8eb195;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6a8b74;
}
/* ----- */

/*estilos compartidos*/

h3 {
  color: #ff6347;
  margin: 0;
  font-size: 1.6em;
}

h2 {
  color: #333;
  margin: 0;
  font-size: 1.8em;
}

h1 {
  color: #333;
  margin: 0;
  font-size: 2em;
}

/* ----- */

/* navbar */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

.nav-img-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.nav-img-title-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
}

.nav-img-title-container div img {
  width: 100%;
  height: auto;
}

.nav-img-title-container h1 {
  text-wrap: nowrap;
}

.buttons-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.buttons-nav li {
  background-color: #8eb195;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-wrap: nowrap;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.9);
  }
}

.buttons-nav a {
  text-decoration: none;
  color: #ffffff;
}
/* fin navbar */

/* seccion historia */
#historia {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

header h2 {
  margin-bottom: 30px;
}

.header-title {
  color: #000;
  font-size: 20px;
}

.header-article {
  width: 70%;
  text-align: justify;
}

.img-history-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-history-container img {
  width: 100%;
  height: auto;
}

.leyenda-foto {
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
  width: 100%;
}
/* fin seccion historia */

/* seccion filmografía */

#peliculas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.peliculas-en-linea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.peliculas-en-linea article {
  width: 100%;
  justify-content: center;
  margin: 20px;
}

.poster-peliculas {
  height: 100px;
}
/* fin seccion filmografía */

/* seccion proyectos */
#proyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.listas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.listas h2 {
  margin-bottom: 10px;
}

.collage-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.collage-fotos {
  margin-top: 90px;
}

/* fin seccion proyectos */

/* seccion libros */
#libros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.libros-en-linea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.libros-en-linea article {
  width: 100%;
  justify-content: center;
  margin: 20px;
}

.tapa-libros {
  height: 100px;
}
/* fin seccion libros */

/* seccion noticias */

.ultimas-noticias {
  display: flex;
  flex-direction: column;
}

.ultimas-noticias article {
  margin: 10px 30px;
  text-align: justify;
}
/* --- */
/* fin seccion noticias */

/* seccion reconocimiento */
#reconocimientos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 50px;
}

.reconocimientos-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.reconocimiento {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: left;
  flex: 1;
}

.reconocimiento-link {
  text-decoration: none;
}

.reconocimiento h3 {
  color: #ff6347;
  margin-bottom: 10px;
}

.reconocimiento p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

.reconocimiento:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
/* fin seccion reconocimiento */

/* seccion creditos */

footer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  padding: 20px;
}

.footer-en-linea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.creditos-en-linea {
  list-style-type: none;
  display: flex;
  width: 35%;
  justify-content: space-between;
  gap: 30px;
}

.sin-subrayado {
  text-decoration: none;
}

.footer-image {
  max-width: 600px;
  margin-left: 60px;
}

@media screen and (max-width: 1279px) {
  /* navbar */
  .nav-container {
    flex-direction: column;
  }

  .nav-img-title-container div {
    width: 80px;
  }
  /* ----- */
}

@media screen and (max-width: 768px) {
  /*estilos compartidos*/
  h3 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h1 {
    font-size: 1.6em;
  }
  /* ----- */

  /* navbar */
  .nav-img-title-container div {
    width: 60px;
  }

  .buttons-nav li {
    padding: 5px 10px;
  }
  .buttons-nav a {
    font-size: 0.8em;
  }
  /* ----- */

  /* seccion reconocimiento */
  .reconocimientos-container {
    flex-direction: column;
  }
  /* ----- */
}

@media screen and (max-width: 480px) {
  /*estilos compartidos*/
  h3 {
    font-size: 1em;
  }

  h2 {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.4em;
  }
  /* ----- */

  /* navbar */
  .nav-img-title-container {
    flex-direction: column;
    gap: 10px;
  }
  /* ----- */
}
